
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Oran</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>SQL</td>
        <td>95</td>
        <td><a href="#"class="btn btn-danger">Sil</a></td>
        <td><a href="#"class="btn btn-success">Düzenle</a></td>
    </tr>

</table>